meta(charset="utf-8")
meta(name="viewport" content="width=device-width")

title= share_title
meta(name="description" content=meta_description)
meta(name="keywords" content=meta_keywords)

meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="og:url" content=share_url)
meta(property="og:title" content=share_title)
meta(property="og:site_name" content=share_siteName)
meta(property="og:description" content=og_description)
meta(property="og:image" content=share_image)

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=share_title)
meta(name="twitter:description" content=tw_description)
meta(name="twitter:image" content=share_image)
meta(name="twitter:site" content=tw_site)
meta(name="twitter:creator" content=tw_creator)

link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
link(rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
link(rel="apple-touch-icon-precomposed" href="/favicon.ico")
link(rel="apple-touch-icon" href="/favicon.ico")
link(rel="shortcut icon" href="/favicon.ico")
link(rel="icon" href="/favicon.ico")
